@-webkit-keyframes linha {
  from {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: 60; } }
@-moz-keyframes linha {
  from {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: 60; } }
@-ms-keyframes linha {
  from {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: 60; } }
@keyframes linha {
  from {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: 60; } }
@-webkit-keyframes linha_reverso {
  from {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: -60; } }
@-moz-keyframes linha_reverso {
  from {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: -60; } }
@-ms-keyframes linha_reverso {
  from {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: -60; } }
@keyframes linha_reverso {
  from {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: -60; } }
@-webkit-keyframes linha {
  from {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: 60; } }
@-moz-keyframes linha {
  from {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: 60; } }
@-ms-keyframes linha {
  from {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: 60; } }
@keyframes linha {
  from {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: 60; } }
@-webkit-keyframes circulo {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes circulo {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-ms-keyframes circulo {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes circulo {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes som {
  from {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    -webkit-transform-origin: right; }
  50% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
    -webkit-transform-origin: right; }
  to {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    -webkit-transform-origin: right; } }
@-moz-keyframes som {
  from {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    -webkit-transform-origin: right; }
  50% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
    -webkit-transform-origin: right; }
  to {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    -webkit-transform-origin: right; } }
@-ms-keyframes som {
  from {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    -webkit-transform-origin: right; }
  50% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
    -webkit-transform-origin: right; }
  to {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    -webkit-transform-origin: right; } }
@keyframes som {
  from {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    -webkit-transform-origin: right; }
  50% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
    -webkit-transform-origin: right; }
  to {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    -webkit-transform-origin: right; } }
@-webkit-keyframes play_som_mobile {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translateY(60px);
    transform: translateY(60px); } }
@-moz-keyframes play_som_mobile {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translateY(60px);
    transform: translateY(60px); } }
@-ms-keyframes play_som_mobile {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translateY(60px);
    transform: translateY(60px); } }
@keyframes play_som_mobile {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translateY(60px);
    transform: translateY(60px); } }
@-webkit-keyframes seta1 {
  to {
    -webkit-transform: translateY(115px);
    transform: translateY(115px); } }
@-moz-keyframes seta1 {
  to {
    -webkit-transform: translateY(115px);
    transform: translateY(115px); } }
@-ms-keyframes seta1 {
  to {
    -webkit-transform: translateY(115px);
    transform: translateY(115px); } }
@keyframes seta1 {
  to {
    -webkit-transform: translateY(115px);
    transform: translateY(115px); } }
@-webkit-keyframes seta2 {
  to {
    -webkit-transform: translateX(210px);
    transform: translateX(210px); } }
@-moz-keyframes seta2 {
  to {
    -webkit-transform: translateX(210px);
    transform: translateX(210px); } }
@-ms-keyframes seta2 {
  to {
    -webkit-transform: translateX(210px);
    transform: translateX(210px); } }
@keyframes seta2 {
  to {
    -webkit-transform: translateX(210px);
    transform: translateX(210px); } }
@-webkit-keyframes seta3 {
  to {
    -webkit-transform: translateX(135px);
    transform: translateX(135px); } }
@-moz-keyframes seta3 {
  to {
    -webkit-transform: translateX(135px);
    transform: translateX(135px); } }
@-ms-keyframes seta3 {
  to {
    -webkit-transform: translateX(135px);
    transform: translateX(135px); } }
@keyframes seta3 {
  to {
    -webkit-transform: translateX(135px);
    transform: translateX(135px); } }
@-webkit-keyframes seta4 {
  to {
    -webkit-transform: translateY(27px);
    transform: translateY(27px); } }
@-moz-keyframes seta4 {
  to {
    -webkit-transform: translateY(27px);
    transform: translateY(27px); } }
@-ms-keyframes seta4 {
  to {
    -webkit-transform: translateY(27px);
    transform: translateY(27px); } }
@keyframes seta4 {
  to {
    -webkit-transform: translateY(27px);
    transform: translateY(27px); } }
@-webkit-keyframes seta5 {
  to {
    -webkit-transform: translateY(102px);
    transform: translateY(102px); } }
@-moz-keyframes seta5 {
  to {
    -webkit-transform: translateY(102px);
    transform: translateY(102px); } }
@-ms-keyframes seta5 {
  to {
    -webkit-transform: translateY(102px);
    transform: translateY(102px); } }
@keyframes seta5 {
  to {
    -webkit-transform: translateY(102px);
    transform: translateY(102px); } }
@-webkit-keyframes seta6 {
  to {
    -webkit-transform: translateY(35px);
    transform: translateY(35px); } }
@-moz-keyframes seta6 {
  to {
    -webkit-transform: translateY(35px);
    transform: translateY(35px); } }
@-ms-keyframes seta6 {
  to {
    -webkit-transform: translateY(35px);
    transform: translateY(35px); } }
@keyframes seta6 {
  to {
    -webkit-transform: translateY(35px);
    transform: translateY(35px); } }
@-webkit-keyframes seta-baixo {
  from {
    opacity: 1; }
  to {
    opacity: 0.4; } }
@-moz-keyframes seta-baixo {
  from {
    opacity: 1; }
  to {
    opacity: 0.4; } }
@-ms-keyframes seta-baixo {
  from {
    opacity: 1; }
  to {
    opacity: 0.4; } }
@keyframes seta-baixo {
  from {
    opacity: 1; }
  to {
    opacity: 0.4; } }
@-webkit-keyframes sinal-torre {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate(4px, -6px); } }
@-moz-keyframes sinal-torre {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate(4px, -6px); } }
@-ms-keyframes sinal-torre {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate(4px, -6px); } }
@keyframes sinal-torre {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate(4px, -6px); } }
#Circulo1,
#Circulo2 {
  -webkit-animation: linha 4s linear infinite;
  animation: linha 4s linear infinite; }

#Linha1,
#Linha2,
#Linha5 {
  -webkit-animation: linha 4s linear infinite;
  animation: linha 4s linear infinite; }

#Linha3,
#Linha4 {
  -webkit-animation: linha_reverso 4s linear infinite;
  animation: linha_reverso 4s linear infinite; }

#PlayIcon, #IconePlay {
  -webkit-animation: play 2s ease infinite;
  animation: play 2s ease infinite; }

#SomDesktop, #Som {
  -webkit-animation: som 2s ease infinite;
  animation: som 2s ease infinite;
  -webkit-transform-origin: center;
  transform-origin: center; }

#Seta1 {
  -webkit-animation: seta1 2s ease infinite;
  animation: seta1 2s ease infinite; }

#Seta2 {
  -webkit-animation: seta2 2s ease infinite;
  animation: seta2 2s ease infinite; }

#Seta3 {
  -webkit-animation: seta3 2s ease infinite;
  animation: seta3 2s ease infinite; }

#Seta4 {
  -webkit-animation: seta4 1s ease infinite;
  animation: seta4 1s ease infinite; }

#Seta5 {
  -webkit-animation: seta5 2s ease infinite;
  animation: seta5 2s ease infinite; }

#Seta6 {
  -webkit-animation: seta6 2s ease infinite;
  animation: seta6 2s ease infinite; }

#SetaBaixo1, #SetaEsquerda1 {
  animation: seta-baixo 1s ease infinite;
  animation-delay: 0.3s;
  -webkit-animation: seta-baixo 1s ease infinite;
  -webkit-animation-delay: 0.5s; }

#SetaBaixo2, #SetaEsquerda2 {
  animation: seta-baixo 1s ease infinite;
  animation-delay: 0.5s;
  -webkit-animation: seta-baixo 1s ease infinite;
  -webkit-animation-delay: 0.3s; }

#SetaBaixo3, #SetaEsquerda3 {
  animation: seta-baixo 1s ease infinite;
  animation-delay: 0.7s;
  -webkit-animation: seta-baixo 1s ease infinite;
  -webkit-animation-delay: 0.7s; }

#SinalAntena1, #SinalReceveir1, #SinalReceiver1 {
  animation: sinal-torre 1s ease infinite;
  -webkit-animation: sinal-torre 1s ease infinite; }

#SinalAntena2, #SinalReceveir2, #SinalReceiver2 {
  animation: sinal-torre 1s ease infinite;
  animation-delay: 2.3s;
  -webkit-animation: sinal-torre 1s ease infinite;
  -webkit-animation-delay: 2.3s; }

#SinalAntena3, #SinalReceveir3, #SinalReceiver3 {
  animation: sinal-torre 1s ease infinite;
  animation-delay: 3.5s;
  -webkit-animation: sinal-torre 1s ease infinite;
  -webkit-animation-delay: 3.5s; }

@-webkit-keyframes play {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-moz-keyframes play {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-ms-keyframes play {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes play {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@-webkit-keyframes pound {
  from {
    -webkit-transform: none;
    transform: none; }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  to {
    -webkit-transform: none;
    transform: none; } }
@-moz-keyframes pound {
  from {
    -webkit-transform: none;
    transform: none; }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  to {
    -webkit-transform: none;
    transform: none; } }
@-ms-keyframes pound {
  from {
    -webkit-transform: none;
    transform: none; }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  to {
    -webkit-transform: none;
    transform: none; } }
@keyframes pound {
  from {
    -webkit-transform: none;
    transform: none; }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  to {
    -webkit-transform: none;
    transform: none; } }
#Heart {
  animation: pound 1.2s infinite;
  -webkit-animation: pound 1.2s infinite;
  transform-origin: center center;
  -webkit-transform-origin: center center; }
