@-webkit-keyframes linha {
  from {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: 60; } }
@-moz-keyframes linha {
  from {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: 60; } }
@-ms-keyframes linha {
  from {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: 60; } }
@keyframes linha {
  from {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: 60; } }
@-webkit-keyframes linha_reverso {
  from {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: -60; } }
@-moz-keyframes linha_reverso {
  from {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: -60; } }
@-ms-keyframes linha_reverso {
  from {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: -60; } }
@keyframes linha_reverso {
  from {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: -60; } }
@-webkit-keyframes linha {
  from {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: 60; } }
@-moz-keyframes linha {
  from {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: 60; } }
@-ms-keyframes linha {
  from {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: 60; } }
@keyframes linha {
  from {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: 60; } }
@-webkit-keyframes circulo {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-moz-keyframes circulo {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-ms-keyframes circulo {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes circulo {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@-webkit-keyframes play_som {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translateX(180px);
    transform: translateX(180px); } }
@-moz-keyframes play_som {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translateX(180px);
    transform: translateX(180px); } }
@-ms-keyframes play_som {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translateX(180px);
    transform: translateX(180px); } }
@keyframes play_som {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translateX(180px);
    transform: translateX(180px); } }
@-webkit-keyframes play_som_mobile {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translateY(60px);
    transform: translateY(60px); } }
@-moz-keyframes play_som_mobile {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translateY(60px);
    transform: translateY(60px); } }
@-ms-keyframes play_som_mobile {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translateY(60px);
    transform: translateY(60px); } }
@keyframes play_som_mobile {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translateY(60px);
    transform: translateY(60px); } }
@-webkit-keyframes seta1 {
  to {
    -webkit-transform: translateY(115px);
    transform: translateY(115px); } }
@-moz-keyframes seta1 {
  to {
    -webkit-transform: translateY(115px);
    transform: translateY(115px); } }
@-ms-keyframes seta1 {
  to {
    -webkit-transform: translateY(115px);
    transform: translateY(115px); } }
@keyframes seta1 {
  to {
    -webkit-transform: translateY(115px);
    transform: translateY(115px); } }
@-webkit-keyframes seta2 {
  to {
    -webkit-transform: translateX(210px);
    transform: translateX(210px); } }
@-moz-keyframes seta2 {
  to {
    -webkit-transform: translateX(210px);
    transform: translateX(210px); } }
@-ms-keyframes seta2 {
  to {
    -webkit-transform: translateX(210px);
    transform: translateX(210px); } }
@keyframes seta2 {
  to {
    -webkit-transform: translateX(210px);
    transform: translateX(210px); } }
@-webkit-keyframes seta3 {
  to {
    -webkit-transform: translateX(135px);
    transform: translateX(135px); } }
@-moz-keyframes seta3 {
  to {
    -webkit-transform: translateX(135px);
    transform: translateX(135px); } }
@-ms-keyframes seta3 {
  to {
    -webkit-transform: translateX(135px);
    transform: translateX(135px); } }
@keyframes seta3 {
  to {
    -webkit-transform: translateX(135px);
    transform: translateX(135px); } }
@-webkit-keyframes seta-baixo {
  from {
    opacity: 1; }
  to {
    opacity: 0.4; } }
@-moz-keyframes seta-baixo {
  from {
    opacity: 1; }
  to {
    opacity: 0.4; } }
@-ms-keyframes seta-baixo {
  from {
    opacity: 1; }
  to {
    opacity: 0.4; } }
@keyframes seta-baixo {
  from {
    opacity: 1; }
  to {
    opacity: 0.4; } }
@-webkit-keyframes sinal-torre {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate(4px, -6px); } }
@-moz-keyframes sinal-torre {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate(4px, -6px); } }
@-ms-keyframes sinal-torre {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate(4px, -6px); } }
@keyframes sinal-torre {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: translate(4px, -6px); } }
#Circulo1,
#Circulo2 {
  -webkit-animation: dash 4s linear infinite;
  animation: dash 4s linear infinite; }

#Linha1,
#Linha2 {
  -webkit-animation: linha 4s linear infinite;
  animation: linha 4s linear infinite; }

#Linha3 {
  -webkit-animation: linha_reverso 4s linear infinite;
  animation: linha_reverso 4s linear infinite; }

#Play,
#SomDesktop {
  -webkit-animation: play_som 2s ease infinite;
  animation: play_som 2s ease infinite; }

#Seta1 {
  -webkit-animation: seta1 2s ease infinite;
  animation: seta1 2s ease infinite; }

#Seta2 {
  -webkit-animation: seta2 2s ease infinite;
  animation: seta2 2s ease infinite; }

#Seta3 {
  -webkit-animation: seta3 2s ease infinite;
  animation: seta3 2s ease infinite; }

#SetaBaixo1 {
  animation: seta-baixo 1s ease infinite;
  animation-delay: 0.3s;
  -webkit-animation: seta-baixo 1s ease infinite;
  -webkit-animation-delay: 0.5s; }

#SetaBaixo2 {
  animation: seta-baixo 1s ease infinite;
  animation-delay: 0.5s;
  -webkit-animation: seta-baixo 1s ease infinite;
  -webkit-animation-delay: 0.3s; }

#SetaBaixo3 {
  animation: seta-baixo 1s ease infinite;
  animation-delay: 0.7s;
  -webkit-animation: seta-baixo 1s ease infinite;
  -webkit-animation-delay: 0.7s; }

#SinalAntena1, #SinalReceveir1 {
  animation: sinal-torre 1s ease infinite;
  -webkit-animation: sinal-torre 1s ease infinite; }

#SinalAntena2, #SinalReceveir2 {
  animation: sinal-torre 1s ease infinite;
  animation-delay: 2.3s;
  -webkit-animation: sinal-torre 1s ease infinite;
  -webkit-animation-delay: 2.3s; }

#SinalAntena3, #SinalReceveir3 {
  animation: sinal-torre 1s ease infinite;
  animation-delay: 3.5s;
  -webkit-animation: sinal-torre 1s ease infinite;
  -webkit-animation-delay: 3.5s; }

@-webkit-keyframes pound {
  from {
    transform: none; }
  50% {
    transform: scale(1.2); }
  to {
    transform: none; } }
@-moz-keyframes pound {
  from {
    transform: none; }
  50% {
    transform: scale(1.2); }
  to {
    transform: none; } }
@-ms-keyframes pound {
  from {
    transform: none; }
  50% {
    transform: scale(1.2); }
  to {
    transform: none; } }
@keyframes pound {
  from {
    transform: none; }
  50% {
    transform: scale(1.2); }
  to {
    transform: none; } }
#Heart {
  animation: pound 1.2s infinite;
  transform-origin: center center; }

/*


@-webkit-keyframes anima-sinal-torre {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        -webkit-transform: translate(4px, -6px);
    }
}
@keyframes anima-sinal-torre {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate(4px, -6px);
    }
}

#sinal_torre_1 {
    animation: anima-sinal-torre 1s ease infinite;
    -webkit-animation: anima-sinal-torre 1s ease infinite;
}

#sinal_torre_2 {
    animation: anima-sinal-torre 1s ease infinite;
    animation-delay: 2.3s;
    -webkit-animation: anima-sinal-torre 1s ease infinite;
    -webkit-animation-delay: 2.3s;
}

#sinal_torre_3 {
    animation: anima-sinal-torre 1s ease infinite;
    animation-delay: 3.5s;
    -webkit-animation: anima-sinal-torre 1s ease infinite;
    -webkit-animation-delay: 3.5s;
}

@-webkit-keyframes seta-baixo {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.4;
    }
}

@keyframes seta-baixo {
    from {
        opacity: 1;
    }
    to {
        opacity: 0.4;
    }
}

#seta_baixo_1 {
    animation: seta-baixo 1s ease infinite;
    animation-delay: 0.5s;
    -webkit-animation: seta-baixo 1s ease infinite;
    -webkit-animation-delay: 0.5s;
}

#seta_baixo_2 {
    animation: seta-baixo 1s ease infinite;
    animation-delay: 0.3s;
    -webkit-animation: seta-baixo 1s ease infinite;
    -webkit-animation-delay: 0.3s;
}

#seta_baixo_3 {
    animation: seta-baixo 1s ease infinite;
    animation-delay: 0.7s;
    -webkit-animation: seta-baixo 1s ease infinite;
    -webkit-animation-delay: 0.7s;
}

@-webkit-keyframes anima-sinal-som {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes anima-sinal-som {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.sinal_som {
    opacity: 0;
}

#sinal_som_1 {
    animation: anima-sinal-som 1s ease infinite;
    -webkit-animation: anima-sinal-som 1s ease infinite;
}

#sinal_som_2 {
    animation: anima-sinal-som 1s ease infinite;
    animation-delay: 0.2s;
    -webkit-animation: anima-sinal-som 1s ease infinite;
    -webkit-animation-delay: 0.2s;
}

#sinal_som_3 {
    animation: anima-sinal-som 1s ease infinite;
    animation-delay: 0.4s;
    -webkit-animation: anima-sinal-som 1s ease infinite;
    -webkit-animation-delay: 0.4s;
}

// MOBILE

@keyframes anima-seta_1 {
    from {
        opacity: 1;
    }
    to {
        transform: translateY(40px);
    }
}
#seta_1 {
    animation: anima-seta_1 2s ease infinite;
}

@keyframes anima-seta_2 {
    from {
        opacity: 1;
    }
    to {
        transform: translateY(93px);
    }
}
#seta_2 {
    animation: anima-seta_2 2s ease infinite;
}

@keyframes anima-seta_3 {
    from {
        opacity: 1;
    }
    to {
        transform: translateY(50px);
    }
}
#seta_3 {
    animation: anima-seta_3 2s ease infinite;
}

@keyframes anima-seta_4 {
    from {
        opacity: 1;
    }
    to {
        transform: translateY(54px); 
    }
}
#seta_4 {
    animation: anima-seta_4 2s ease infinite;
}

@keyframes pound {
    from { transform: none; }
    50% { transform: scale(1.2); }
    to { transform: none; }
}

#heart {
    
    animation: pound 1.2s infinite;
    transform-origin: center center; 
}

.heart {
    //animation: heartbeat 1300ms ease 0s infinite normal;
}*/
