html,body {
height:100%
}

html {
box-sizing:border-box
}

*,:before,:after {
-webkit-box-sizing:inherit;
-moz-box-sizing:inherit;
box-sizing:inherit
}

html,body {
font-size:100%
}

body {
background:#fff;
color:#222;
cursor:auto;
font-family: 'Ubuntu', sans-serif;
font-style:normal;
font-weight:400;
line-height:1.5;
margin:0;
padding:0;
position:relative
}

a:hover {
cursor:pointer
}

img {
max-width:100%;
height:auto;
-ms-interpolation-mode:bicubic
}

.right {
float:right!important
}

img {
display:inline-block;
vertical-align:middle
}

select {
width:100%
}

.row {
margin:0 auto;
max-width:75rem;
width:100%
}

.row:before,.row:after {
content:" ";
display:table
}

.row:after {
clear:both
}

.columns {
padding-left:.9375rem;
padding-right:.9375rem;
width:100%;
float:left
}

.columns + .columns:last-child {
float:right
}

@media only screen {
.columns {
position:relative;
padding-left:.9375rem;
padding-right:.9375rem;
float:left
}
}

@media only screen and (min-width:40.0625em) {
.columns {
position:relative;
padding-left:.9375rem;
padding-right:.9375rem;
float:left
}
}

@media only screen and (min-width:64.0625em) {
.columns {
position:relative;
padding-left:.9375rem;
padding-right:.9375rem;
float:left
}

.large-1 {
width:8.3333333333%
}

.large-3 {
width:25%
}

.large-5 {
width:41.6666666667%
}

.large-6 {
width:50%
}

.large-7 {
width:58.3333333333%
}

.large-12 {
width:100%
}
}

button,.button {
-webkit-appearance:none;
-moz-appearance:none;
border-radius:0;
border-style:solid;
border-width:0;
cursor:pointer;
font-family:"raleway","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
font-weight:400;
line-height:normal;
margin:0 0 1.25rem;
position:relative;
text-align:center;
text-decoration:none;
display:inline-block;
padding:1rem 2rem 1.0625rem;
font-size:1rem;
background-color:#FF5959;
border-color:#ff1414;
color:#FFF;
transition:background-color 300ms ease-out
}

button:hover,button:focus,.button:hover,.button:focus {
background-color:#ff1414;
color:#FFF
}

button::-moz-focus-inner {
border:0;
padding:0
}

@media only screen and (min-width:40.0625em) {
button,.button {
display:inline-block
}
}

label {
color:#4d4d4d;
cursor:pointer;
display:block;
font-size:.875rem;
font-weight:400;
line-height:1.5;
margin-bottom:0
}

::-webkit-input-placeholder {
color:#ccc
}

:-moz-placeholder {
color:#ccc
}

::-moz-placeholder {
color:#ccc
}

:-ms-input-placeholder {
color:#ccc
}

select {
-webkit-appearance:none!important;
-moz-appearance:none!important;
background-color:#FAFAFA;
border-radius:0;
background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
background-position:100% center;
background-repeat:no-repeat;
border-style:solid;
border-width:1px;
border-color:#ccc;
color:rgba(0,0,0,0.75);
font-family:inherit;
font-size:.875rem;
line-height:normal;
padding:.5rem;
border-radius:0;
height:2.3125rem
}

select::-ms-expand {
display:none
}

select:hover {
background-color:#f3f3f3;
border-color:#999
}

select:disabled {
background-color:#DDD;
cursor:default
}

select {
margin:0 0 1rem
}

fieldset {
border:1px solid #DDD;
margin:1.125rem 0;
padding:1.25rem
}

fieldset legend {
background:#FFF;
font-weight:700;
margin:0;
padding:0 .1875rem
}

table {
background:#FFF;
border:solid 1px #DDD;
margin-bottom:1.25rem;
table-layout:auto
}

table tr td {
color:#222;
font-size:.875rem;
padding:.5625rem .625rem;
text-align:left
}

table tr:nth-of-type(even) {
background:#F9F9F9
}

table tbody tr td,table tr td {
display:table-cell;
line-height:1.125rem
}

.contain-to-grid {
width:100%;
background:transparent
}

.contain-to-grid .top-bar {
margin-bottom:0
}

.top-bar {
background:transparent;
height:2.8125rem;
line-height:2.8125rem;
margin-bottom:0;
overflow:hidden;
position:relative
}

.top-bar ul {
list-style:none;
margin-bottom:0
}

.top-bar .title-area {
margin:0;
position:relative
}

.top-bar .name {
font-size:16px;
height:2.8125rem;
margin:0
}

.top-bar .name h2 {
font-size:1.0625rem;
line-height:2.8125rem;
margin:0
}

.top-bar .name h2 a {
color:#FFF;
display:block;
font-weight:400;
padding:0 .9375rem;
width:75%
}

@media only screen and (min-width:40.0625em) {
.top-bar {
background:transparent;
overflow:visible
}

.top-bar:before,.top-bar:after {
content:" ";
display:table
}

.top-bar:after {
clear:both
}

.top-bar .title-area {
float:left
}

.top-bar .name h2 a {
width:auto
}

.contain-to-grid .top-bar {
margin:0 auto;
max-width:75rem
}
}

div,ul,li,h1,h2,h3,h4,p,td {
margin:0;
padding:0
}

a {
color:#FF5959;
line-height:inherit;
text-decoration:none
}

a:hover,a:focus {
color:#ff2929
}

a img {
border:none
}

p {
font-family:inherit;
font-size:1rem;
font-weight:400;
line-height:1.8;
margin-bottom:1.25rem;
text-rendering:optimizeLegibility
}

h1,h2,h3,h4 {
color:#333;
font-family:"source code pro";
font-style:normal;
font-weight:400;
line-height:1.4;
margin-bottom:.5rem;
margin-top:.2rem;
text-rendering:optimizeLegibility
}

h1 {
font-size:4.375rem
}

h2 {
font-size:1.6875rem
}

h3 {
font-size:1.25rem
}

h4 {
font-size:1.125rem
}

i {
font-style:italic;
line-height:inherit
}

ul {
font-family:inherit;
font-size:1rem;
line-height:1.8;
list-style-position:outside;
margin-bottom:1.25rem;
margin-left:1.1rem
}

@media only screen and (min-width:40.0625em) {
h1,h2,h3,h4 {
line-height:1.4
}

h1 {
font-size:5rem
}

h2 {
font-size:2.3125rem
}

h3 {
font-size:1.5rem
}

h4 {
font-size:1.4375rem
}
}

@media print {
* {
background:transparent!important;
box-shadow:none!important;
color:#000!important;
text-shadow:none!important
}

a,a:visited {
text-decoration:underline
}

a[href]:after {
content:" (" attr(href) ")"
}

a[href^="#"]:after {
content:""
}

tr,img {
page-break-inside:avoid
}

img {
max-width:100%!important
}

@page {
margin:.5cm
}

p,h2,h3 {
orphans:3;
widows:3
}

h2,h3 {
page-break-after:avoid
}
}