.clientessquare {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
   
    overflow:hidden;
}

.clientescontent {
    position:absolute;
    height:90%; /* = 100% - 2*5% padding */
    width:90%; /* = 100% - 2*5% padding */
    padding: 5%;
  
    
}
.clientestable{
    display:table;
    width:100%;
    height:100%;
}
.clientestable-cell{
    display:table-cell;
    vertical-align:middle;
    font-size:60px;
    text-align:center;
  
}
