#Top span.title {
  float: right;
  margin: 10px 16px 0 0; }
  @media (min-width: 768px) {
    #Top span.title {
      margin: 18px 16px 0px 0px; } }
#Top nav.links {
  position: absolute;
  width: 100%;
  height: 300px;
  background-color: #FFF;
  display: none;
  margin-top: 40px; }
  @media (min-width: 768px) {
    #Top nav.links {
      height: 330px;
      margin-top: 55px; } }
  #Top nav.links img {
    margin: 145px 40px 30px; }
  #Top nav.links span {
    margin-left: 40px;
    display: block; }
    #Top nav.links span a {
      color: #000;
      font-weight: 400; }
  #Top nav.links ul {
    margin-top: 90px;
    margin-right: 80px;
    float: right; }
    #Top nav.links ul li {
      list-style: none;
      text-align: right;
      line-height: 21px; }
    #Top nav.links ul a {
      font-size: 18px;
      font-weight: 600;
      color: #000; }
      @media (min-width: 768px) {
        #Top nav.links ul a {
          font-size: 22px; } }
      #Top nav.links ul a.active {
        color: #4BC6F2 !important; }
      #Top nav.links ul a:hover {
        color: #4BC6F2 !important;
        text-decoration: none; }
#Top .right {
  position: relative; }

a.menu-link {
  float: right;
  display: block; }

.menu-link {
  height: 30px;
  width: 27px;
  cursor: pointer;
  padding: 10px 40px 0 0;
  margin-right: 24px; }
  @media (min-width: 768px) {
    .menu-link {
      padding: 17px 52px 0px 0px; } }

.bar1, .bar2, .bar3 {
  margin-top: 3px;
  background: #000;
  width: 27px;
  height: 3px;
  position: absolute;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg); }

.bar2 {
  margin-top: 9px; }

.bar3 {
  margin-top: 15px; }

.brand {
  float: left;
  margin-left: 1em;
  padding: 1em; }
  .brand h1 {
    margin: 0;
    font-size: 1.5em; }

@-webkit-keyframes menu-top {
  from {
    height: 65px; }
  to {
    height: 100px; } }
@-moz-keyframes menu-top {
  from {
    height: 65px; }
  to {
    height: 100px; } }
@-ms-keyframes menu-top {
  from {
    height: 65px; }
  to {
    height: 100px; } }
@keyframes menu-top {
  from {
    height: 65px; }
  to {
    height: 100px; } }
.menu-top .left, .menu-top .right {
  height: 40px;
  -webkit-animation: menu-top 300ms linear;
  animation: menu-top 300ms linear; }
  @media (min-width: 768px) {
    .menu-top .left, .menu-top .right {
      height: 65px; } }
  @media (min-width: 992px) {
    .menu-top .left, .menu-top .right {
      height: 100px; } }

@-webkit-keyframes menu-not-top {
  from {
    height: 100px; }
  to {
    height: 65px; } }
@-moz-keyframes menu-not-top {
  from {
    height: 100px; }
  to {
    height: 65px; } }
@-ms-keyframes menu-not-top {
  from {
    height: 100px; }
  to {
    height: 65px; } }
@keyframes menu-not-top {
  from {
    height: 100px; }
  to {
    height: 65px; } }
.menu-not-top .left, .menu-not-top .right {
  height: 65px; }
