@media only screen and (max-width: 1024px) {

 /* .circles.alt {
    right: 100px; } */

/*  .circles.tiny {
    display: none; }  */

  .fold-lines {
    top: 200px; }

  .letters {
    top: 0px; }

  .number {
    display: none; }

  .header .intro {
    margin-top: 150px;
    margin-bottom: 0; }


  i.arrow {
    display: none;
    padding: 40px 0 50px; }

  i.arrow.down {
    display: block; } }
@media only screen and (max-width: 800px) {
  .fold-lines {
    top: 300px; }


  .work-header .work-header-title h1 {
    font-size: 50px;
    line-height: 1; }

  .page-header h1 {
    font-size: 50px; }
  .page-header .intro {
    margin-left: 0; }

 /* .circles.alt {
    display: none; } */

  .fold-lines {
    top: 350px; }

  .header h1 {
    font-size: 60px; }
  .header .intro {
    margin-top: 100px;
    margin-bottom: 0; }


  .sub-menu {
    margin: 0; }
    .sub-menu li {
      font-size: 20px;
      font-family: meganoot, "Open Sans";
      letter-spacing: 0px; }

  header ul {
    list-style: none;
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 60px; }

  .menu-toggler {
    position: relative;
    z-index: 9999;
    margin-top: -44px; } }
