.large-6 {
width:50%
}

.large-5 {
width:41.6666666667%
}

.large-7 {
width:58.3333333333%
}

#infomobile {
display: none;
}

@media only screen 
and (max-width : 640px) 
 { 

.large-6 {
width:100%
}
}


@media only screen 
and (max-width : 812px) 
 { 



    #infodesktop {
    display:none;
    }
    
    #infomobile {
    display: block;
    }
    
      .circles.alt {
    display: none; }
      .circles.tiny {
    display: none; }

  .circles.top {
        display: none; }
        
        .work .quad {
width:70%;
}

 

 }



@media only screen and (min-width:64.0625em) {

.large-1 {
width:8.3333333333%
}

.large-3 {
width:25%
}


.large-12 {
width:100%
}

    .circles.under {
      left: 550px;
	  top: 50px;
	  
  }

  i.arrow {
    display: none;
     }

  i.arrow.down {
    display: block; 
    padding-top:80px;
    }

}





